.main {
  width: 75%;
  min-height: 80vw;
  align-content: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;

  .card {
    margin: 0px 0px 30px 20px;
    grid-column: span 4;
  }
}

.line {
  .card {
    margin: 0px 0px 50px 0px;
  }
}
