.main {
  width: 75%;
  min-height: 80vw;
  align-content: flex-start;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;

  .card {
    margin: 0px 20px 30px 20px;
    grid-column: span 4;
  }
}
