.main {
  font-size: 22px;
  font-weight: 600;
  outline: none;
  border: none;

  background-color: var(--red-light);

  padding: 16px 60px;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}
