.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: solid 1px var(--red);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;

  img {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background-color: #e89eaa1b;
  }
}
