//############################ Colors #######################

:root {
  --red: #d23f57;
  --red-light: #d23e56;
  --white: #f6f6f6;
  --grey: #6f7173;
  --grey-light: #6f717355;
  --main: #2b3445;
  --background: #faefd9;
  --background-light: #faefd9;
  --text-grey: #7d879c;
  --text-black: #2b3445;
  --popup-background: #00000088;
}

//############################# Fonts #######################

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

//####################### Global Styles #####################

body {
  background-color: var(--background-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans";
  color: var(--text-black);
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

//######################### Scroll #########################

::-webkit-scrollbar {
  width: 0px;
}
