//############################ Colors #######################

:root {
  --red: #d23f57;
  --white: #fff;
  --grey: #6f7173;
  --grey-light: #6f717355;
  --main: #2b3445;
  --background: #f3f4f8;
  --background-light: #f6f8fd;
  --text-grey: #7d879c;
  --text-black: #2b3445;
}

//############################# Fonts #######################

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

//####################### Global Styles #####################

body {
  background-color: var(--background-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans";
  color: var(--text-black);
}

a {
  text-decoration: none;
  color: inherit;
}
