.main {
  border-bottom: solid 1px #e5e5e5;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 30px 0px;
}

.ranges {
  padding: 20px 0px;

  input {
    border-radius: 5px;
    width: 45%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
    background-color: transparent;
  }

  span {
    font-size: 30px;
    color: var(--grey-light);
  }
}
