.main {
  position: relative;
}

.mainImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.rates {
  margin: 5px 0px;
}

.card_bottom {
  margin-top: 20px;

  p {
    color: var(--red);
  }
}

.eye {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;

  border-radius: 500px;

  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    background-color: #00000011;
  }

  img {
    width: 75%;
    height: 75%;
  }
}

.lines {
  display: flex;
  align-items: center;
  justify-content: flex-space;
  margin-bottom: 30px;

  .mainImg {
    width: auto;
    height: 200px;
    object-fit: cover;
    margin: 0px 5% 0px 0px;
  }

  .btn {
    img {
      width: 60px;
      height: 60px;
    }
    position: absolute;
    right: 5%;
  }

  .eye {
    top: auto;
    left: 5%;

    width: 100px;
    height: 100px;

    img {
      opacity: 0.3;
    }
  }
}
